.bd-placeholder-img {
    font-size: 1.125rem;
    text-anchor: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
  }

  @media (min-width: 768px) {
    .bd-placeholder-img-lg {
      font-size: 3.5rem;
    }
  }

main {
  background-color: black;
}

.card-body{
  background-color: rgb(206, 205, 205);
}

footer{
  background-color: rgb(206, 205, 205);
}